body {
    background-color:#c8dfff;
}

body{
    margin: 0;
}

.potato {
    display:grid;
    grid-template-columns: 1fr 1fr; 

    
}

.header {
    background-color: #9fbdda;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: #8ea1c4;
    font-family: 'Courier New', Courier, monospace;
    color: #335596;
    }

    .column {
        background-color: rgb(253, 233, 171);
        float: left;
        height: 100%;
        width: 20%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: #ffc060;
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    
    }

    a:hover{
        color:#f39696
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 350px;
        background-color: #6787c2;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
      
    div.gallery:hover {
        border: 3px solid #325283;
    }
      
    div.gallery img {
        width: 100%;
        height: auto;
    }
      
    div.desc {
        padding: 15px;
        text-align: center;
    }

    
    